:root{
    --primary-text-color:#868686;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.flex{
    display: flex;
}
p{
    line-height: 1.7;
    font-family: 'Raleway', sans-serif;
}
a{
    text-decoration: none;
    color:deepskyblue;
}
a:hover{
    color:#3F51B5;
}
.hero{
    background: url(https://i.pinimg.com/originals/3e/b1/c2/3eb1c2ed04cc648248e013c7728d81ce.jpg) fixed no-repeat;
    display: flex;
    flex-wrap: wrap;
}
.title{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(2, 2, 2, 0.766));
    width: 100%;
    text-align: center;
    height: 500px;
    color:white;
    font-size:20px;
    font-family: 'Reenie Beanie', cursive;
    padding:200px;
    font-size: 40px;
}
.title h4{
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: 20px;
}
.container{
    margin-inline: auto;
    flex-wrap: wrap;
}
.container-1{
    margin-top: 40px;
    justify-content: center;
    max-width: 1180px;
}
.container-1 p.msd{
    color:aqua;
    flex-wrap: wrap;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin: 30px 0 10px 0;
    font-size: 30px;
}
.underline{
    margin-top: 0;
    margin-bottom: 10px;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255, 64, 129), rgba(0, 0, 0, 0));
}
.container-1 img{
    max-width: 580px;
    border:solid 1px rgb(195, 195, 195);
    box-shadow:0 0 20px #393939;
}
.container-1 p{
    max-width:550px;
    margin-right: 50px;
    text-align: justify;
    color:var(--primary-text-color);
    font-size:18px;
    
}

.table-container{
    justify-content: space-between;
    max-width: 1180px;
}
.table-head{
    color:#fff;
    background-color:#3F51B5;
    width:575px;
    height: 40px;
    text-align: center;
}
table tr{
    text-align: justify;
    line-height: 25px;
    color: var(--primary-text-color);
    font-family: 'Raleway', sans-serif;
}
.banner img{
    width: 100%;
    margin-top: 20px;
    height: 650px;
}
.career p{
    font-size: 500px;
    margin-top: 0;
    max-width: 100%;
}
.container-2 div{
    max-width: 900px;
    margin-inline: auto;
    font-family: 'Raleway', sans-serif;
    color: var(--primary-text-color);
    font-size: 18px;
    margin-bottom: 40px;
}
.source{
    text-align: end;
}
.appreciation div{
    border-left:5px solid #eee;
    padding: 15px;
    margin-bottom: 0;
}
.banner-2 img{
    height:auto;
    margin: 20px 0 -4px 0;
}
footer div{
    margin:0;
    gap:200px;
    justify-content: center;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(221, 156, 65), rgba(0, 0, 0, 0));
}